.navLink:hover {
    background-color: orange;
    width: 7rem;
    text-align: center;
    border-radius: 3rem;
    color: white;
}


.navLink {
    width: 7rem;
    text-align: center;
    border-radius: 2rem;

}