.navLink:hover {
    background-color: orange;
    width: 9rem;
    text-align: center;
    border-radius: 2rem;
}


.navLink {
    width: 9rem;
    text-align: center;
    border-radius: 2rem; 

}

.navBtn {
    text-align: center;
    margin: 0 auto;
    font: 100 18px 'Oswald', sans-serif;
    color: orange;
    letter-spacing: 2px;
    font-weight: bold;
    border-radius: 2rem; 
  }

  .navBtn:hover {
    text-align: center;
    margin: 0 auto;
    font: 100 18px 'Oswald', sans-serif;
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
    border-radius: 3rem; 
  }