.moreBtn {
  background-color: "orange";
  border-color: "orange";
}

.chat-Btn {
  border-color: "orange";
}

.chat-Btn:hover {
  background-color: "orange";
}

.circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 30px 20px;
  background: orange;
  border: 3px solid orange;
  color: white;
  text-align: center;
  display: block;
  position: absolute;
  margin-left: 94%;
  font-size: large;
}